MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=mcp_admin
MYSQL_PASSWORD=xxxxxxxxxx
MYSQL_DATABASE=mcp_sandbox

APP_NAME=mysql-admin-mcp
APP_VERSION=1.0.0

MAX_SELECT_ROWS=1000
ENABLE_DESTRUCTIVE_OPERATIONS=true
ENABLE_DDL_OPERATIONS=true
ENABLE_ROUTINE_OPERATIONS=true